<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.brokengames">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tictactoe.FullscreenGame"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/tictactoe"
            android:theme="@style/FullscreenTheme" >

           </activity>
            <activity android:name=".eddygao.MyActivity"
                android:theme="@style/FullscreenTheme">


            </activity>

    <activity android:name=".snake.Snake"
        android:theme="@style/FullscreenTheme">

    </activity>

    </application>

</manifest>